<h2>New API Creation Page</h2>

<p>
  <%= form_for @api do |f| %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, label: false %>
    <%= f.label :url, 'URL:' %>
    <%= f.text_field :url, label: false %>
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description, label: false %>

    Paid?
    <%= f.collection_radio_buttons(:paid, [[true, "Yes."], [false, "No."]],
      :first, :last) %>

    <%= f.submit "Create API" %>
  <% end %>
</p>
