<h2>New API Creation Page</h2>

<p>
  <%= form_for @api do |f| %>
    <%= f.text_field :name, id: "Name" %>
    <%= f.text_field :url, id: "URL" %>
    <%= f.text_field :description, id: "Description" %>
    <%= f.text_field :tags, value: "", id: "Tags" %>

    Paid?
    <%= f.collection_radio_buttons(:paid, [[true, "Yes."], [false, "No."]],
      :first, :last) %>

    <%= f.submit "Create API" %>
  <% end %>
</p>
