<div class="body-background">
  <div class="row">
    <div class="medium-8 medium-centered columns api-show text-left detail-text-medium float-center">
      <%= @api.name %>
      <%= @api.url %>
      <%= @api.description %>
      <%= "Posted By: #{@api.user.first_name} #{@api.user.last_name}"%>
      <%= "Posted On: #{@api.created_at.strftime("%m-%d-%Y")}"%>
      <% if @api.paid %>
        <p>This API is not free! (It costs money)</p>
      <% else %>
        <p>This API is free!</p>
      <% end %>
      <% tags = "" %>
      <% @api.tags.each do |tag| %>
        <% tags += "#{tag.name} " %>
      <% end %>
      <%= "TAGS: #{tags} " %>
      Reviews for this API
      <% @reviews.each do |review|%>
        <%= review.body %>
        <%= review.rating %>
      <% end %>
      <%= render partial: 'new_review_form', object: @review %>
    </div>
  </div>
</div>
