<h2><%= @api.name %></h2>

<p>
  <%= @api.name %>
  <%= @api.url %>
  <%= @api.description %>
  <br />
  <% tags = "" %>
  <% @api.tags.each do |tag| %>
  <% tags += "#{tag.name} " %>
  <% end %>
  <%= "TAGS: #{tags} " %>
</p>

<% if @api.paid %>
  <p>This API is not free! (It costs money)</p>
<% else %>
  <p>This API is free!</p>
<% end %>
