<h2><%= @api.name %></h2>

<p>
  <%= @api.name %>
  <%= @api.url %>
  <%= @api.description %>
</p>

<% if @api.paid %>
  <p>This API is not free! (It costs money)</p>
<% else %>
  <p>This API is free!</p>
<% end %>

<h3>Reviews for this API</h3>

<% @reviews.each do |review|%>
  <%= review.body %>
  <%= review.rating %>
<% end %>

<%= render partial: 'new_review_form', object: @review %>
