<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <div class="top-bar">
      <div class="top-bar-left">
        <li class="menu-text">API Addict</li>
        <li><%= link_to("Add New", new_api_path) %></li>
        <li><%= link_to("View All by Category", apis_path) %></li>
      </div>
    </div>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
