<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if flash.keys[0] != nil %>
      <div data-alert class="alert-box <%= flash.keys[0] %>">
        <div id="flash_messages">
          <%= display_flash_messages %>
        </div>
      </div>
    <% end %>
    <div class="row full" style="height: 45px;" data-equalizer>
      <div class="medium-12 columns medium-title top-bar float-left" data-equalizer-watch style="background-color: #9E9E9E; text-align: left;">
        API Addicts
      </div>
    </div>
    <div class="row full" style="height: 75px;" data-equalizer>
      <div class="medium-8 columns top-menu-bg top-menu" style="height: 75px;" data-equalizer>
        <div class="dropdown">
          <button class="dropbtn"><h4>---</h4></button>
          <div class="dropdown-content">
            <%= link_to 'View All', apis_path %>
            <%= link_to 'Add New', new_api_path %>
            <%= link_to 'Random API', apis_random_path %>
          </div>
        </div>
        <div class="dropdown float-right">
          <button class="dropbtn">My Profile</button>
          <div class="dropdown-content">
            <%= link_to 'Sign Up', new_user_registration_path %>
            <% if current_user.try(:admin?) %>
            <li><%= link_to("Admin Dashboard", users_path) %></li>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to 'Sign Out', destroy_user_session_path %>
              <%= link_to 'My Profile', user_path(current_user) %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="medium-4 columns top-menu-bg" style="height: 75px;" data-equalizer>
        <!-- <div class="medium-12 columns top-menu-bg detail-text-medium float-left" data-equalizer-watch> -->
          <%= form_tag(apis_path, method: 'get', id: 'search-form') do %>
            <%= text_field_tag :search, params[:search],
              placeholder: "Search APIs and Tags", id: 'search-field' %>
            <%= submit_tag "Search" %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= yield %>

    <script>
    window.onload = init();

    function init(){
      $('.alert-box').slideUp(2500,0);
    }

    </script>
  </body>
</html>
